# Maven
**/target/

# IntelliJ IDEA
.friendly-lend-app/.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Local environment variables
.env
.env.*

# Secrets (DO NOT COMMIT)
friendly-lend-app/src/main/resources/application-secrets.properties