<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-12 mt-1 mb-1">
                <div class="my-closet">
                    <h2>My Favorite Items</h2>

                    <div class="home-fields mt-4" style="height: auto; overflow: auto;">
                        <table class="my-table table-striped shadow-sm bg-white">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${createFavorite}">
                                <td>
                                    <img th:src="${item.imageUrl}" alt="Item Image" width="70" height="70">
                                </td>
                                <td>
                                    <span th:text="${item.name}"></span>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(createFavorite)}">
                                <td colspan="2" class="text-muted">No favorite items yet.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer bg-transparent py-2">
</footer>
</body>
</html>