<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <p class="mySticky bg-gray text-dark user" th:text="${'Welcome ' + user.username}"></p>
        <div class="row mt-1 mb-2">
            <div class="col-12 mt-1 mb-1">
                <div class="my-closet">

                    <div class="card shadow-sm p-4">
                        <h2 class="mb-3">My Profile</h2>

                        <p><strong>Username:</strong> <span th:text="${userProfilePage.username}"></span></p>
                        <p><strong>First Name:</strong> <span th:text="${userProfilePage.firstName}"></span></p>
                        <p><strong>Last Name:</strong> <span th:text="${userProfilePage.lastName}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${userProfilePage.email}"></span></p>
                        <p><strong>Role:</strong> <span th:text="${userProfilePage.role}"></span></p>

                        <div class="mt-4">
                            <a th:href="@{'/users/' + ${user.id} + '/profile'}" class="btn btn-light">Edit Profile</a>
                        </div>
                        <div class="mt-4">
                            <h4>Notifications</h4>

                            <div th:if="${notifications != null and notifications.size() > 0}">
                                <ul>
                                    <li th:each="n : ${notifications}">
                                        <p class="text-dark fw-bold bg-light p-2 rounded border">
                                            <span th:text="${#dates.format(n.createdAt, 'dd MMM yyyy HH:mm')}">[date]</span> –
                                            <span th:text="${n.message}">[message]</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div th:if="${notifications == null or notifications.size() == 0}">
                                <p class="text-muted">You have no unread notifications.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer bg-transparent py-2">
</footer>
</body>
</html>
