<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>
    <div class="welcome mt-1 mb-4">
        <div class="row mt-1 mb-2">
            <div class="col-12 mt-1 mb-1">
                <div class="my-closet">
                    <h2 class="text-center mb-4">My Survey Support</h2>

                    <div class="home-fields" style="height: 60vh; overflow: auto">

                        <!-- Ако няма подаден surveyResponse -->
                        <div th:if="${noSupportYet}">
                            <p class="text-center fs-5">You haven’t supported any topic yet.</p>
                            <p class="text-center">
                                Go back to the <a th:href="@{/home}">home page</a> and support the cause that inspire you!
                            </p>
                        </div>

                        <!-- Ако има подаден surveyResponse -->
                        <div th:if="${!noSupportYet}">
                            <table class="my-table table-striped table-dark table-bordered text-center">
                                <thead>
                                <tr>
                                    <th>Subject</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span th:text="${surveyResponse.subject}"></span></td>
                                    <td><span th:text="${surveyResponse.support}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom">
            &copy; 2025 FriendlyLend. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>